body {
    display: flex;
    justify-content: center;  /* Center everything horizontally */
    align-items: center;      /* Center everything vertically */
    height: 100vh;            /* Full height of the viewport */
    margin: 0;                /* Remove default margin */
    background-color: #fff;   /* Light mode background */
}

#gameWrapper, #gameContainer {
    margin: 0;
    padding: 0;
}

#gameContainer {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px; /* Keep padding for game container in light mode */
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 225px;
    margin: auto;
    border: 3px;
    gap: 0;
}

.cell {
    width: 75px;
    height: 75px;
    border: 2px solid #333; /* Default border color for light mode */
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    box-shadow: 0 0 0 2px;
    transition: background-color 0.3s ease;
}

.highlight {
    background-color: yellow; /* Default highlight color */
    transition: background-color 0.3s ease;
}

#restartBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: transparent;
    color: #ff9900;
    border: 2px solid #ff9900;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s ease;
}

#restartBtn:hover {
    background-color: #ff9900;
    color: white;
}

#sideBar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    text-align: left;
    margin: 0;
    padding: 0;
}

#scoreBoard p, #timer p {
    margin: 0;
}

#themeToggleBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: transparent;
    color: #ff9900;
    border: 2px solid #ff9900;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s ease;
}

#themeToggleBtn:hover {
    background-color: #ff9900;
    color: white;
}

/* Dark theme */
.dark-theme {
    background-color: #333; /* Dark background */
    color: #ddd; /* Light text color for dark mode */
}

.dark-theme #gameContainer {
    padding: 0; /* Remove padding inside game container */
}

.dark-theme #cellContainer {
    background-color: #444; /* Dark background for cells */
}

.dark-theme .cell {
    border-color: #555; /* Lighter border color for cells */
}

.dark-theme #restartBtn {
    border-color: #ff9900;
    color: #ff9900;
}

.dark-theme #restartBtn:hover {
    background-color: #ff9900;
    color: white;
}

.dark-theme #themeToggleBtn {
    border-color: #ff9900;
    color: #ff9900;
}

.dark-theme #themeToggleBtn:hover {
    background-color: #ff9900;
    color: white;
}

/* Highlight class for dark mode */
.dark-theme .highlight {
    background-color: #ff9900; /* Bright yellow for contrast in dark mode */
    transition: background-color 0.3s ease;
}

/* Highlight class for light mode */
